{% extends 'base_auth.html' %}

{% block title %}Correo Enviado{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center card border-0 shadow-lg p-5" style="max-width: 600px; width: 100%;">
        <h3 class="mb-4">Correo de Restablecimiento Enviado</h3>
        <p>Te hemos enviado por correo electrónico las instrucciones para restablecer tu contraseña. Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock %}